{% url 'project_info' as project_info %}
{% url 'file_list' as file_list %}
{% url 'group_list' as group_list %}
{% url 'group_create' as group_create %}
{% url 'webhook_list' as webhook_list %}
{% url 'video_conversion_request' as video_conversion_request %}

<ul class="nav nav-pills flex-column">
    <li class="nav-item">
        <a class="nav-link {% if request.path == project_info %} active {% endif %}" href="{{ project_info }}">Project</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if request.path == file_list %} active {% endif %}" href="{{ file_list }}">Files</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if request.path == group_list %} active {% endif %}" href="{{ group_list }}">Groups</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if request.path == webhook_list %} active {% endif %}" href="{{ webhook_list }}">Webhooks</a>
    </li>
    <li class="dropdown-divider"></li>

    <li class="nav-item">
        <a class="nav-link {% if request.path == video_conversion_request %} active {% endif %}" href="{{ video_conversion_request }}">Convert video</a>
    </li>

    <li class="dropdown-divider"></li>
</ul>
