<h4>Image info</h4>
{% load image_info_filters %}

<div class="row">
    <div class="col-4">
        <a href="https://ucarecdn.com/{{ file.uuid }}/-/preview/" target="_blank">
            <img class="img-fluid img-thumbnail w-100"
                 src="https://ucarecdn.com/{{ file.uuid }}/-/format/auto/-/quality/smart/-/preview/800x800/"
                 alt="{{ file.filename }}">
        </a>
    </div>
    <div class="col-8">
        <div class="table-responsive">
            <table class="table table-condensed table-bordered table-hover mt-2">
                <tbody>
                        <tr>
                            <th>Color Mode</th>
                            <td>{{ file.info.content_info.image.color_mode }}</td>
                        </tr>
                        <tr>
                            <th>Orientation</th>
                            <td>{{ file.info.content_info.image.orientation|orientation_as_string }}</td>
                        </tr>
                        <tr>
                            <th>Format</th>
                            <td>{{ file.info.content_info.image.format }}</td>
                        </tr>
                        <tr>
                            <th>Is image a sequence</th>
                            <td>{{ file.info.content_info.image.sequence|yesno }}</td>
                        </tr>
                        <tr>
                            <th>Dimensions</th>
                            <td>{{ file.info.content_info.image.width }}×{{ file.info.content_info.image.height }}</td>
                        </tr>
                        <tr>
                            <th>Geo location</th>
                            <td>
                                {% if file.info.content_info.image.geo_location %}
                                    {{ file.info.content_info.image.geo_location.latitude }},
                                    {{ file.info.content_info.image.geo_location.longitude }}
                                {% else %}
                                    No data
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>DPI</th>
                            <td>
                                {% if file.info.content_info.image.dpi %}
                                    {{ file.info.content_info.image.dpi.0 }}×{{ file.info.content_info.image.dpi.1 }}
                                {% else %}
                                    No data
                                {% endif %}
                            </td>
                        </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<hr>
