{% extends 'base.html' %}
{% block title %}
    <div class="row">
        <div class="col">
            Webhooks
        </div>
        <div class="col align-content-end">
            <a class="btn btn-primary float-right" href="{% url 'webhook_create' %}">Create</a>
        </div>
    </div>
{% endblock %}

{% block body %}
  <ul class="list-group">
    {% for webhook in object_list %}
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <div class="flex-grow-1">
          <a class="badge badge-info" href="{% url 'webhook_info' webhook.id %}">{{ webhook.id }}</a>
          <code>{{ webhook.target_url }}</code> from {{ webhook.created|date }} {% if webhook.is_active %}<div class="badge badge-info">Active</div>{% else %}<div class="badge badge-secondary">Not active</div>{% endif %}</div>
        <div class="btn-group" role="group" aria-label="Actions">
          <a href="{% url 'webhook_update' webhook.id %}" class="btn btn-sm btn-secondary">Update</a>
          <a href="{% url 'webhook_delete' webhook.id %}" class="btn btn-sm btn-danger">Delete</a>
        </div>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
