{% extends "base.html" %}

{% block title %}Project Info{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title"><a
                    href="https://uploadcare.com/accounts/settings/projects/{{ project.pub_key }}/usage/">{{ project.name }}</a>
            </h5>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Public key: <code>{{ project.pub_key }}</code></li>
            <li class="list-group-item">Is auto-store enabled: <code>{{ project.autostore_enabled|yesno }}</code>
            </li>
            <li class="list-group-item">
                <div class="d-flex">
                    <div class="flex-shrink-0 mr-2">Collaborators:</div>
                    <div class="flex-grow-1">
                        {% if not project.collaborators %}<code>Empty</code>{% else %}
                            {% for cl in project.collaborators %}{{ cl.name }}<br>{% endfor %}
                        {% endif %}
                    </div>
                </div>
            </li>
        </ul>
    </div>
{% endblock %}